
html {
}

body{
    background: white;
}

header {
    color: dodgerblue;
    font-weight: bolder;
    margin: 0;
}

header h2 {
    font-size: small;
}

nav {
    position: fixed;
    bottom: 10px;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a img{
    width: 50px;
}

footer {
    background-color: antiquewhite;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}