
body{
  background: white;
}

header {
  color: dodgerblue;
  font-weight: bolder;
  margin: 0;
  h2 {
    font-size: small;
  }

}


nav {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        img{
          width: 50px;
        }
      }
    }
  }
}
