body{
  background: white;
}

header {
  color: #1c77ce;
  font-weight: bolder;
  margin: 0;
  padding: 10px;
  img {
    width: 50px;
  }
  h2 {
    font-size: small;
  }
  img {
    margin-top: 2px;
    height: 60%;
    width: 40%;
  }
  button {
    padding: 10px;
    background-color: #1c77ce;
    border-radius: 4px;
    box-shadow: 3px 3px #6e6e6e;
    color: white;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    margin-top: 5px;
  }
}

nav {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        img{
          width: 50px;
        }
      }
    }
  }
}
