* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}
body header {
  max-width: 1500px !important;
  text-align: center;
  color: #226fbd;
  font-weight: bolder;
  margin: 0;
  padding: 6px;
}
@media screen and (max-width: 768px) {
  body header {
    width: 100%;
    background: white;
  }
}
@media screen and (max-width: 576px) {
  body header h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body header h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  body header h1 {
    font-size: 20px;
  }
}
body header img {
  width: 50px;
  margin-top: 2px;
}
body header img:hover {
  cursor: pointer;
}
body header img#profile-pic {
  border-radius: 10px;
  width: auto;
  height: auto;
  max-width: 160px;
  max-height: 160px;
}
@media screen and (max-width: 768px) {
  body header img#profile-pic {
    max-width: 110px;
    max-height: 110px;
  }
}
body header img#profile-pic:hover {
  cursor: initial;
}
body header h2 {
  font-size: small;
}
body header div a img {
  height: auto;
  width: auto;
  max-width: 32px;
  max-height: 32px;
}
body header div div a img {
  height: auto;
  width: auto;
  max-width: 32px;
  max-height: 32px;
}
body header div div img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}
body main {
  font-size: 110%;
}
body main #proposes {
  float: left;
}
body main #proposes img {
  width: 150px !important;
}
body main div div div img:hover {
  cursor: pointer;
}
body main div div div div img:hover {
  cursor: pointer;
}
body main section {
  margin-bottom: 40px;
}
body main section div {
  margin-bottom: 10px;
}
body main section div div p {
  margin-left: 4px;
}
body main section div div div img {
  height: auto;
  width: auto;
  max-width: 20px;
  max-height: 20px;
}
body main section div div div img:hover {
  cursor: pointer;
}
body main section div img {
  margin-left: 5px;
  height: auto;
  width: auto;
  max-width: 32px;
  max-height: 32px;
}
body main section div a {
  text-decoration: none;
  color: black;
}
body main section div a img {
  border-radius: 10px;
  height: auto;
  width: auto;
  max-width: 160px;
  max-height: 160px;
}
@media screen and (max-width: 768px) {
  body main section div a img {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
  }
}
body main article {
  margin-bottom: 20px;
  background-color: #acd1f6;
  padding: 6px 56px 6px 12px;
  border-radius: 12px;
  min-height: 180px;
}
body main article h3 {
  font-size: 24px;
}
body main article div div > p {
  font-size: 11px;
  background-color: #acd1f6;
  padding-left: 5px;
}
body main article div div label {
  font-size: 13px;
  background-color: transparent;
  width: 100%;
}
body main article div div label p {
  min-height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body main article div div img {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
  margin-left: 10px;
  margin-bottom: 3px;
}
body main article div div img.rate-post {
  background-color: #91bae3;
}
body main article div div img:hover {
  cursor: pointer;
}
body main article div div.post-content {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  background-color: #91bae3;
  min-height: 128px;
}
body main ul {
  background: #F8F9FA;
  padding: 0;
  margin: 0;
  list-style: none;
}
body main ul li {
  padding: 10px;
  border-bottom: 10px solid white;
}
body main ul li:hover {
  background: #E9ECEF;
  cursor: pointer;
}
body main ul li a {
  text-decoration: none;
  color: #000;
  pointer-events: none;
}
body footer {
  position: fixed;
  bottom: 0;
  margin-top: 15px;
  width: 100%;
  height: 70px;
  padding-top: 0.7%;
  background-color: white;
}
@media screen and (max-width: 768px) {
  body footer {
    margin-top: 9px;
  }
}
body table {
  caption-side: top;
}
body nav ul {
  padding: 0;
}
body nav ul li {
  list-style-type: none;
}
body nav ul li a {
  text-decoration: none;
}
body nav ul li a img {
  max-width: 46px;
  max-height: 46px;
  border-radius: 6px;
}

.content.comments {
  margin-bottom: 230px;
}

.content.explore {
  margin-top: 80px;
  margin-bottom: 80px;
}

.navbar.explore {
  position: fixed;
  top: 0;
  width: 100%;
}

#comment-input {
  position: fixed;
  bottom: 80px;
}
#comment-input textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
