$templateColor: #226fbd;

body {
  background: white;
}

header {
  color: $templateColor;
  font-weight: bolder;
  margin: 0;
  padding: 10px;
  img {
    width: 50px;
  }
  h2 {
    font-size: small;
  }
  img {
    margin-top: 2px;
  }
}

button {
  padding: 10px;
  background-color: $templateColor;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  margin-top: 5px;
}
button:hover {
  background-color: #3481d0;
}
button:active {
  background-color: $templateColor;
}

.col-1-5 {
  flex: 0 0 12.3%;
  max-width: 12.3%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

section {
  p.notification-type {
    font-size: 130%;
  }
  p.notification-date {
    font-size: 80%;
    color: #6e6e6e;
  }
}

nav {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        img {
          width: 50px;
        }
      }
    }
  }
}
