<header class="comment d-flex">
    <div class="arrow d-flex justify-content-center flex-column">
        <img id="go-back" src="../icons/back_arrow.png" alt="go back"/>
    </div>
    <div class="col-6 d-flex justify-content-center flex-column">
        <h2>Comments</h2>
    </div>
</header>
<main class="comment">
    <div class="content comments">
        <div class="justify-content-start" id="comments">
        </div>
    </div>
    <form id="comment-input" class="col-11 col-sm-10 col-md-9" action="../php/insertions-api.php" method="post">
        <input type="hidden" name="post" value="<?php echo $_GET["PostID"]; ?>">
        <div class="input-group mb-3">
            <label for="comment-input-text" class="sr-only d-none">Write a comment</label>
            <input type="text" id="comment-input-text" class="form-control" placeholder="Write a comment" aria-label="Write a comment">
            <div class="input-group-append">
                <button id="submit-comment" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
    </form>
</main>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="d-none" id="comment-edit-id"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Edit Comment</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="comment-text" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="comment-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="comment-edit">Edit Comment</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="d-none" id="comment-delete-id"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="comment-delete">Delete</button>
            </div>
        </div>
    </div>
</div>