<header>
    <nav class="navbar navbar-expand-lg">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">~</span>
            </div>
            <input type="text" class="form-control col-sm-12 col-md-8" placeholder="Search keywords in posts title" aria-label="Keyword" aria-describedby="basic-addon1">
        </div>
    </nav>
    <nav class="navbar">
        <form class="form-inline">
        </form>
    </nav>
</header>
<main class="container">
    <div class="justify-content-center" id="explore-posts">
    </div>
</main>
