<header class="explore">
    <nav class="explore">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">~</span>
            </div>
            <label for="keyword-search" class="d-none">Search keywords in posts content or title</label>
            <input id="keyword-search" type="text" class="form-control" aria-label="Keyword" placeholder="Search keywords in posts content or title" aria-describedby="basic-addon1">
        </div>
    </nav>
</header>
<main class="explore">
    <div class="content explore justify-content-center" id="explore-posts"></div>
</main>