<header>
    <nav class="d-flex justify-content-center">
        <nav class="explore col-12 col-md-8">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">~</span>
                </div>
                <input id="keyword-search" type="text" class="form-control" placeholder="Search keywords in posts title" aria-label="Keyword" aria-describedby="basic-addon1">
            </div>
        </nav>
    </nav>
</header>
<main>
    <div class="content explore justify-content-center" id="explore-posts"></div>
</main>