<div class="container-fluid">
    <header class="row">
        <div class="col-1 d-flex justify-content-center flex-column">
            <img id="go-back" src="../icons/back_arrow.png" alt="go back" onclick="goBack()"/>
        </div>
        <div class="col-6 col-md-5 d-flex justify-content-center flex-column">
            <h1 style="text-align: left;">...</h1>
        </div>
        <div class="col-5 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center flex-column">
            <button class="btn btn-outline-primary btn-sm col-12" style="font-size: 90%">Don't show any again</button>
        </div>
    </header>
</div>
<main class="container">
    <section id="all-notifications">
        <div id="notification" class="row align-items-center">
            <div class="col-md-1"></div>
            <p class="col-5 col-xl-5 notification-type" style="font-size: 15px">...</p>
            <p class="col-3 col-xl-2 align-self-center notification-date" style="font-size: 80%; color:#6e6e6e">...</p>
            <button class="btn btn-outline-primary btn-sm col-2 col-xl-1 accept-friendship" style="font-size: 12px">...</button>
            <div class="col-1 d-flex justify-content-start" style="margin-left: 15px">
                <img class="delete-notification" src="../icons/bin_icon.png" alt="delete notification"/>
            </div>
        </div>
    </section>
</main>