<div class="container-fluid">
    <header class="row">
        <div class="col-1 d-flex justify-content-center flex-column">
            <img id="go-back" src="../icons/back_arrow.png" alt="go back"/>
        </div>
        <div class="col-6 col-md-5 d-flex justify-content-center flex-column">
            <h1 style="text-align: left;"></h1>
        </div>
        <div class="col-5 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center flex-column">
            <button class="btn btn-outline-primary btn-sm col-12" style="font-size: 90%">Don't show any again</button>
        </div>
    </header>
</div>
<main class="container">
    <section id="all-notifications">
    </section>
</main>