<header class="row">
    <div class="col-1 d-flex justify-content-center flex-column">
        <img id="go-back" src="../icons/back_arrow.png" alt="go back"/>
    </div>
    <div class="col-11 d-flex justify-content-center flex-column">
        <h1 style="text-align: left;"></h1>
    </div>
</header>
<main class="container">
    <div class="row" style="margin: 15px 0">
        <nav class="explore">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">~</span>
                </div>
                <input id="keyword-search" type="text" class="form-control" placeholder="Search keywords in posts title" aria-label="Keyword" aria-describedby="basic-addon1">
            </div>
        </nav>
    </div>
    <div class="row">
        <section id="posts"></section>
    </div>
</main>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="d-none" id="post-edit-id"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="post-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="post-title">
                    </div>
                    <div class="mb-3">
                        <label for="post-text" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="post-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="post-edit">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="d-none" id="post-delete-id"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="post-delete">Delete</button>
            </div>
        </div>
    </div>
</div>