<header class="row">
    <div class="col-1 d-flex justify-content-center flex-column">
        <a href="./profile.html"><img id="go-back" src="../icons/back_arrow.png" alt="go back"/></a>
    </div>
    <div class="col-11 d-flex justify-content-center flex-column">
        <h1 style="text-align: left;">Giacomo Sirri's post history</h1>
    </div>
</header>
<main class="container">
    <form action="" method="get" style="margin-bottom: 20px">
        <div class="row">
                <label class="col-4 col-md-3 col-xl-2">
                    Sort for:
                    <select class="col-12" name="options">
                        <option value="number of votes" selected="selected">Most voted</option>
                        <option value="date">Most recent</option>
                        <option value="number of comments">Most commented</option>
                    </select>
                </label>
            <label class="col-1">
                Descending
                <input class="col-md-2" type="checkbox" id="descending">
            </label>
        </div>
    </form>
    <section id="all-posts"></section>
</main>