<header class="container" style="position: relative !important;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./profile.html"><img src="../icons/logo.png" style="width: 40px" alt="main logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"  onclick="activeMenu(this)">insights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"  onclick="activeMenu(this)">favorite posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../php/notifications.php"  onclick="activeMenu(this)">notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../php/logout.php" onclick="activeMenu(this)">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="user-data" class="d-flex justify-content-center"></div>
</header>
<main class="container">
    <div class="d-flex justify-content-center"><p id="user-since"></p></div>
    <div class="d-flex justify-content-center" style="margin-top: -15px; margin-bottom: 8px"><p id="friends"></p></div>
    <table id="rating-statistics" class="table table-primary table-bordered table-striped table-hover"></table>
    <section id="post"></section>
    <section id="friends-list"></section>
</main>
<script type="text/javascript">
    const session_user = "<?php echo $_SESSION["LoggedUser"] ?>";
</script>
