<nav id="options-menu" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-lg-column">
                <li class="nav-item">
                    <a class="nav-link" href="../php/favorites.php">favorite posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../php/notifications.php">notifications</a>
                </li>
                <li class="nav-item">
                    <label for="choose-image" class="nav-link">change profile image
                        <input id="choose-image" type="file" accept="image/png, image/jpeg" style="display: none"/>
                    </label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../php/logout.php">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="profile">
    <div id="user-data" class="d-flex justify-content-center"></div>
</header>
<main class="profile">
    <div class="d-flex justify-content-center"><p id="user-since"></p></div>
    <div class="d-flex justify-content-center"><p id="friends"></p></div>
    <table id="rating-statistics" class="table table-primary table-bordered table-striped table-hover"></table>
    <section id="post" class="col-12"></section>
    <section id="friends-list" class="col-12"></section>
</main>