<header class="container" style="position: relative !important;">
    <div class="d-flex justify-content-center">
        <div class="col-1">
            <a href="./profile.html">
                <img id="go-back" src="../icons/back_arrow.png" alt="go back" style="margin-top: 20px"/>
            </a>
        </div>
        <div id="user-data" class="col-10 d-flex justify-content-center"></div>
        <div class="col-1">
        </div>
    </div>
</header>
<main class="container">
    <div class="d-flex justify-content-center"><p id="user-since"></p></div>
    <div class="d-flex justify-content-center" style="margin-top: -15px; margin-bottom: 8px"><p id="friends"></p></div>
    <table id="rating-statistics" class="table table-primary table-bordered table-striped table-hover"></table>
    <section id="post"></section>
    <section id="friends-list"></section>
</main>