@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

header.comment {
  position: fixed;
  height: 50px;
  * {
    height: 30px;
  }
  h1 {
    text-align: left;
  }
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    top: 0;
    padding: 10px 12px;
  }
  @media screen and (min-width: $desktop) {
    top: 70px;
    padding: 2px 8px;
    width: 60%;
    margin-left: 20%;
  }
}

main.comment {
  margin-top: 40px;
  article.comment, article.editable-comment {
    width: 90%;
  }
  article.post-comment, article.comment {
    padding: 8px 20px 12px 14px;
  }
}

.modify, .delete {
  border-radius: 0 !important;
  width: 32px;
  margin-left: 9px;
}

.arrow {
  padding-top: 1.2%;
  width: 65px;
  cursor: pointer;
}