@use "../abstract/mediaquery-breakpoints" as *;

header.explore, header.search-users {
  padding: 10px 2%;
  position: fixed;
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    top: 0;
  }
  @media screen and (min-width: $desktop) {
    top: 70px;
    width: 60%;
    margin-left: 20%;
  }
  height: 50px;
  * {
    height: 30px;
  }
}

main.explore, main.search-users {
  padding-top: 1% !important;
  @media screen and (min-width: $desktop) {
    margin-top: 50px;
  }
}