@use "../abstract/mediaquery-breakpoints" as *;

@media screen and (min-width: $smartphones) and (max-width: $desktop) {
  header.explore {
    padding: 2%;
    position: fixed;
    top: 0;
    height: 50px;
    * {
      height: 29px;
    }
  }
  main.explore {
    padding-top: 1% !important;
  }
}