@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

header {
  @media screen and (min-width: $smartphones) {
    background-color: white;
    width: 100%;
    font-family: "Itim", cursive;
    margin-bottom: 15px;
    color: $templateColor;
    h1 {
      margin-left: 2%;
      display: inline-block;
      margin-right: 3%;
      font-size: 36px;
    }
    h2 {
      display: inline-block;
      font-size: 18px;
    }
    img {
      max-width: 38px;
      max-height: 38px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}