@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

header.feed {
  @media screen and (min-width: $smartphones) {
    h1 {
      margin-left: 2%;
      display: inline-block;
      margin-right: 3%;
      font-size: 36px;
    }
    h2 {
      display: inline-block;
      font-size: 18px;
    }
    img {
      max-width: 44px;
      max-height: 44px;
      float: right;
      margin-right: 2%;
      padding: 8px 0 3px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}