@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

main.friend {
  margin-top: 40px;
  h3 {
    text-align: left;
  }
  div#friends {
    @media screen and (min-width: $smartphones) and (max-width: $desktop) {
      margin-bottom: 57px;
    }
  }
  .friend {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: #cccccc solid 1px;
  }
  img {
    max-height: 80px;
    border-radius: 10px;
  }
  p {
    margin: 0;
  }
  p.username, p.time {
    font-size: 14px;
    color: gray;
    @media screen and (min-width: $smartphones) and (max-width: 480px) {
      font-size: 12px;
    }
  }
  button {
    margin-top: 6px;
    @media screen and (min-width: $smartphones) and (max-width: $tablet) {
      max-width: 66px;
      font-size: 11px !important;
    }
  }
  button.request, button.terminate {
    @media screen and (min-width: $smartphones) and (max-width: $tablet) {
      font-size: 14px;
    }
  }
}
