@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

#login-body{
  padding-top: 0 !important;
  margin: 0 !important;
}
.first-half, .second-half {
  margin: 10px;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-square {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  padding: 4px;
  border-radius: 15px;
  border: solid 1px #000;
  div.login-content {
    height: 100%;
    position: relative;
  }
}
img {
  height: 45%;
  width: 50%;
}

div.contain {
  margin: 0 2% 0 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  .first-half,.second-half {
    position:relative;
    height: 92vh;
  }
}

.form-row {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link.login {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}

//create a media query for mobile devices to make the login square smaller
@media screen and (min-width: $smartphones) and (max-width: $tablet) {
  .login-square {
    width: 90%
  }
}
@media screen and (min-width: $smartphones) and (max-width: $tablet) {
  .second-half {
    display: none;
  }
  .contain {
    display: block;
  }
  .first-half {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
}