@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

header.notification {
  height: 70px;
  div {
    @media screen and (min-width: $smartphones) and (max-width: $desktop) {
      margin-top: 8px;
    }
    @media screen and (min-width: $desktop) {
      margin-top: 4px;
    }
  }
  h1 {
    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }
    @media screen and (min-width: $smartphones) and (max-width: $tablet) {
      font-size: 16px
    }
  }
  button#delete-all {
    font-size: 15px;
    max-height: 40px;
    @media screen and (min-width: $smartphones) and (max-width: $tablet) {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      width: 105px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: 10%;
      min-width: 100px;
      width: 100%;
    }
  }
}

main.notification {
  margin-top: 70px;
  padding-top: 0;
  div.notification {
    padding: 9px 0 9px 12px;
    border-bottom: #cccccc solid 1px;
    p.notification-date {
      color: gray;
      margin: 5px 0 0 14px;
      font-size: 12px;
    }
    img.delete-notification {
      max-width: 28px;
      max-height: 28px;
    }
    button.delete-one {
      max-height: 44px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    a.comment:hover, a.rating:hover {
      color: $templateColor;
    }
  }
}