@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

header.post-history, header.friend {
  h1 {
    padding-top: 4px;
    @media screen and (min-width: $smartphones) and (max-width: $desktop) {
      font-size: 22px;
    }
  }
}

main.post-history {
  margin-top: 40px;
  div#posts {
    @media screen and (min-width: $smartphones) and (max-width: $desktop) {
      margin-bottom: 57px;
    }
  }
  nav.explore {
    margin-bottom: 15px;
  }
  div.post-with-buttons {
    div.buttons {
      @media screen and (min-width: $smartphones) and (max-width: $tablet) {
        padding-left: 0;
      }
      img#edit-post, img#delete-post {
        @media screen and (min-width: $smartphones) and (max-width: $tablet) {
          width: 26px;
        }
        @media screen and (min-width: $smartphones) {
          width: 20px;
        }
      }
    }
  }
}