@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

nav#options-menu {
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    background-color: white;
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    float: left;
    background-color: $backgroundColor;
    width: 20%;
    div.collapse {
      position: fixed;
      margin-top: 168px;
      li {
        padding-left: 10px;
      }
    }
  }
}

header.profile {
  position: relative !important;
  @media screen and (min-width: $desktop) {
    height: 220px !important;
  }
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    height: 210px !important;
  }
  z-index: 0;
  padding-top: 10px;
  color: black;
  text-align: center;
  h2 {
    font-size: 18px;
  }
  div {
    margin-bottom: 5px;
    img#main-profile-pic {
      border-radius: 10px;
      width: auto;
      height: auto;
      // max-width is calculated dynamically via javascript
      max-height: 120px;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-left: 20%;
    width: 60%;
  }
  img#go-back {
    margin-left: 10px;
    @media screen and (min-width: $desktop) {
      margin-top: 5px;
    }
  }
}

main.profile {
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    margin-top: 0;
  }
  padding-top: 0;
  p#user-since {
    margin-bottom: 0;
  }
  p#friends {
    margin-bottom: 2px;
  }
  div#friendship-status {
    p#status {
      margin-right: 15px;
      @media screen and (min-width: $tablet) {
        margin-top: 8px;
      }
      @media screen and (min-width: $smartphones) and (max-width: $tablet) {
        font-size: 13px;
      }
    }
    margin-top: 8px;
    margin-bottom: 8px;
    max-height: 40px;
  }
  section#post, section#friends-list {
    img.go-arrow {
      height: auto;
      width: auto;
      max-width: 20px;
      max-height: 20px;
    }
    img.go-arrow:hover {
      cursor: pointer;
    }
    div.forward-arrow {
      padding-top: 1%;
      a {
        text-decoration: none;
        color: black;
        p {
          font-size: 12px;
        }
      }
    }
  }
  section#friends-list {
    @media screen and (min-width: $smartphones) and (max-width: $desktop) {
      margin-bottom: 57px;
    }
    .adapt-image-size{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      border-radius: 10px;
      height: auto;
      width: auto;
    }
    div.friend {
      margin-right: 20px;
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
      }
    }
  }
  table {
    caption-side: top;
  }
}