@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

@media screen and (min-width: $desktop) {
  nav#options-menu {
    float: left;
    background-color: $backgroundColor;
    width: 20%;
    div.collapse {
      position: fixed;
      margin-top: 200px;
    }
  }
}

header.profile {
  height: 220px !important;
  padding-top: 10px;
  color: black;
  text-align: center;
  h2 {
    font-size: 18px;
  }
  div {
    margin-bottom: 5px;
    img#main-profile-pic {
      border-radius: 10px;
      width: auto;
      height: auto;
      // max-width is calculated dynamically via javascript
      max-height: 120px;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-left: 20%;
    width: 60%;
  }
}

main.profile {
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    margin-top: 0;
  }
  padding-top: 1%;
  section#post, section#friends-list {
    img.go-arrow {
      height: auto;
      width: auto;
      max-width: 20px;
      max-height: 20px;
    }
    img.go-arrow:hover {
      cursor: pointer;
    }
    div.forward-arrow {
      padding-top: 1%;
      a {
        text-decoration: none;
        color: black;
        p {
          font-size: 12px;
        }
      }
    }
  }
  section#friends-list {
    img {
      border-radius: 10px;
      height: auto;
      width: auto;
      max-width: 160px;
      max-height: 160px;
      @media screen and (max-width: 768px) {
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 100px;
      }
    }
    div.friend {
      margin-right: 20px;
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
      }
    }
  }
  table {
    caption-side: top;
  }
}