@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

@media screen and (min-width: $desktop) {
  header {
    position: relative;
  }
  body {
    padding-top: 70px;
  }
}

main.search-users {
  h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .proposes {
    margin-top: 1%;
  }
  div.row {
    margin-bottom: 50px;
  }
  div.points, div.posts {
    color: gray;
    font-size: 14px;
  }
  p.friendship-status {
    color: gray;
    font-size: 16px;
    margin-right: 10px;
  }
  button {
    @media screen and (min-width: $smartphones) and (max-width: $tablet) {
      max-width: 86px;
    }
  }
}

.selected-users-profile-pics {
  max-width: 140px;
  cursor: pointer;
}
