@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;
  @media screen and (min-width: $desktop) {
    header {
      position: relative;
    }
    body{
      padding-top:70px;
    }
  }
  .selected-users-profile-pics{
    max-width: 140px;
  }
