@use "../abstract/colors" as *;

article {
  margin-bottom: 20px;
  background-color: $primaryPost;
  padding: 8px 56px 12px 14px;
  border-radius: 12px;
  min-height: 180px;
  h3 {
    font-size: 22px;
  }
  .post-text {
    font-size: 18px;
  }
  .star-post{
    cursor: pointer;
  }
  .post-date {
    border-radius: 6px;
    font-size: 12px;
    background-color: $primaryPost;
    padding-left: 10px;
  }
  .change-text-button {
    background-color: transparent;
    width: 100%;
    p {
      min-height: 80px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  div.post-content {
    border-radius: 6px;
    padding: 7px 12px 0 12px;
    background-color: $secondaryPost;
    min-height: 128px;
  }
  .star-post {
    height: auto;
    width: auto;
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px 8px 3px;
  }
  .post-interactions {
    img {
      height: auto;
      width: auto;
      max-width: 30px;
      max-height: 30px;
      margin: 0 0 6px 12px;
    }
    img.comment-post {
      margin-bottom: 6px;
    }
    img.rate-post, img.rating {
      padding: 5px;
      border-radius: 8px;
      background-color: $secondaryPost;
    }
    img:hover {
      cursor: pointer;
    }
  }
}
