body {
  height: 100vh;
  background-color: #e6f5ff;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  body {
    position: relative;
  }
}

main {
  min-height: 100%;
  background-color: white;
}
@media screen and (min-width: 1025px) {
  main {
    margin: 0 20%;
    padding: 2% 3%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  main {
    padding: 3%;
    margin-top: 50px;
  }
}

nav#main-menu {
  border-bottom: 2px solid #226fbd;
  position: fixed;
  padding-top: 10px;
  background-color: white;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  nav#main-menu {
    margin-top: 30px;
    bottom: 0;
    height: 57px;
  }
  nav#main-menu #nav-logo {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  nav#main-menu {
    top: 0;
    height: 70px;
  }
  nav#main-menu #nav-logo {
    display: inline-block;
    font-family: "Itim", cursive;
    font-size: 36px;
    color: #226fbd;
  }
}
nav#main-menu ul {
  padding: 0;
}
nav#main-menu ul li {
  list-style-type: none;
}
nav#main-menu ul li a img {
  max-width: 46px;
  max-height: 46px;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  nav#main-menu ul li a img {
    max-width: 38px;
    max-height: 38px;
  }
}

article {
  margin-bottom: 20px;
  background-color: #acd1f6;
  padding: 8px 56px 12px 14px;
  border-radius: 12px;
  min-height: 180px;
}
article h3 {
  font-size: 22px;
}
article .post-text {
  font-size: 18px;
}
article .post-date {
  border-radius: 6px;
  font-size: 12px;
  background-color: #acd1f6;
  padding-left: 10px;
}
article .change-text-button {
  background-color: transparent;
  width: 100%;
}
article .change-text-button p {
  min-height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
article div.post-content {
  border-radius: 6px;
  padding: 7px 12px 0 12px;
  background-color: #91bae3;
  min-height: 128px;
}
article .star-post {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
  margin: 0 10px 8px 3px;
}
article .post-interactions img {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
  margin: 0 0 6px 12px;
}
article .post-interactions img.rate-post {
  padding: 5px;
  border-radius: 8px;
  background-color: #91bae3;
}
article .post-interactions img:hover {
  cursor: pointer;
}

header.explore, header.search-users {
  padding: 10px 2%;
  position: fixed;
  height: 50px;
}
@media screen and (min-width: 320px) and (max-width: 1025px) {
  header.explore, header.search-users {
    top: 0;
  }
}
@media screen and (min-width: 1025px) {
  header.explore, header.search-users {
    top: 70px;
    width: 60%;
    margin-left: 20%;
  }
}
header.explore *, header.search-users * {
  height: 30px;
}

main.explore, main.search-users {
  padding-top: 1% !important;
}
@media screen and (min-width: 1025px) {
  main.explore, main.search-users {
    margin-top: 50px;
  }
}

@media screen and (min-width: 320px) {
  header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 50px;
    font-family: "Itim", cursive;
    color: #226fbd;
  }
  header h1 {
    margin-left: 2%;
    display: inline-block;
    margin-right: 3%;
    font-size: 36px;
  }
  header h2 {
    display: inline-block;
    font-size: 18px;
  }
  header img {
    max-width: 44px;
    max-height: 44px;
    float: right;
    margin-right: 2%;
    padding: 8px 0 3px;
  }
}

@media screen and (min-width: 1025px) {
  #feed-header {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  header {
    position: relative;
  }
  body {
    padding-top: 70px;
  }
}
.selected-users-profile-pics {
  max-width: 170px;
}

/*# sourceMappingURL=style.css.map */
