@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

main {
  @media screen and (min-width: $desktop) {
    margin-top: 90px;
  }
}

nav#main-menu {
  position: fixed;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    #nav-logo {
      display: none;
    }
    margin-top: 30px;
    bottom: 0;
    height: 57px;
  }
  @media screen and (min-width: $desktop) {
    top: 0;
    height: 70px;
    #nav-logo {
      display: inline-block;
      font-family: "Itim", cursive;
      font-size: 36px;
      color: $templateColor;
    }
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        img {
          @media screen and (min-width: $smartphones) and (max-width: $desktop) {
            max-width: 38px;
            max-height: 38px;
          }
          max-width: 46px;
          max-height: 46px;
        }
      }
    }
  }
}
