@use "../abstract/colors" as *;
@use "../abstract/mediaquery-breakpoints" as *;

body {
  height: 100vh;
  background-color: $backgroundColor;
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    position: relative;
  }
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  font-family: "Itim", cursive;
  color: $templateColor;

}

main {
  min-height: 100%;
  background-color: white;
  @media screen and (min-width: $desktop) {
    margin: 0 20%;
    padding: 2% 3%;
  }
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    padding: 3%;
    margin-top: 50px;
  }
}
#nav-logo{
  cursor: pointer;
}
nav#main-menu {
  border-bottom: 2px solid $templateColor;
  position: fixed;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  @media screen and (min-width: $smartphones) and (max-width: $desktop) {
    #nav-logo {
      display: none;
    }
    margin-top: 30px;
    bottom: 0;
    height: 57px;
  }
  @media screen and (min-width: $desktop) {
    top: 0;
    height: 70px;
    #nav-logo {
      display: inline-block;
      font-family: "Itim", cursive;
      font-size: 36px;
      color: $templateColor;
    }
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        img {
          @media screen and (min-width: $smartphones) and (max-width: $desktop) {
            max-width: 38px;
            max-height: 38px;
          }
          max-width: 46px;
          max-height: 46px;
        }
      }
    }
  }
}
